@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  width: 100%;
  background-color: grey;
}
.header{
  width: 100%;
}
.user {
  width: 33.3%;
  background-color: brown;
}
button{
  width: 100%;
  background-color: aqua;
  border: solid 2px red;
}

.post{
  width: 33.3%;
  background-color: brown;
}
.comment{
  width: 33.3%;
  background-color: green;
}
.dis{
  width: 100%;
}